<footer class="uoc-footer mt-2">
   
      <div class="logo">
        <img src="./assets/images/logo.png?width=350" alt="Universitat Oberta de Catalunya" />
      </div>
      <div class="footer-menu">
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="speakers.html">Speakers</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>          
          </ul>
      </div>
      <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.google.com" target="_blank"><i class="fa-brands fa-google"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
  
</footer>


    
    
  



    
  
  
  
  
  </footer>
